@charset "UTF-8"; 
.success {
    color: green;
}
.error {
    color: red;
}
 
/* v-transitionでは以下のスタイルが適用される */
.input-transition {
  transition: all .3s ease;
  height: 30px;
  padding: 10px;
  background-color: #eee;
  overflow: hidden;
}
.input-enter, .input-leave {
  height: 0;
  padding: 0 10px;
  opacity: 0;
}
